html {
    font-size: 0.75em;
}

/* CSS for bootstrap theme */
.container {
    width: 400px;
    background-color: #f7fafc;
    border: 1px solid #444;
    padding: 5px;
    margin: auto;
    font-family: Arial, sans-serif;
}

.form {
    display: table;
    margin: auto;
}

.logo {
    display: table-caption;
}

.misiv-input-group {
    display: table-row;
    line-height: 2;
}

.misiv-input-label, .misiv-input-element {
    display: table-cell;
}

.misiv-input-label {
    padding-right: 10px;
    text-align: right;
}

.form button[type="submit"] {
    border: 1px solid #aed0ea;
    background: #d7ebf9 url(http://test.misiv.intra.misiv.fr/css/tms/images/ui-bg_glass_80_d7ebf9_1x400.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #2779aa;
    border-radius: 2px;

    padding: .4em 1em;
}